<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur cupiditate perferendis ratione suscipit! Qui neque cumque deserunt! Accusantium eaque pariatur fugit architecto aspernatur dolore numquam delectus omnis. Perspiciatis maiores quia, illo itaque suscipit consequuntur voluptates a sit nulla ipsum ducimus.</p>
        
    </div>
</div>