<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app with Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quas et repudiandae dolorum odit sunt laborum recusandae, architecto eveniet at nam quos optio provident unde ad, numquam atque quasi earum.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>